@model Cars.Models.CarViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-0 col-sm-1 col-md-2 col-xl-3">
    </div>
    
    <div class="col-12 col-sm-10 col-md-8 col-xl-6">
        <h3>Insertar Carro</h3>
        <form method="POST" asp-action="OnInsert">
            <div class="form-group">
                <input maxlength="8" class="form-control" asp-for="Patente" id="patenteInput" placeholder="Patente">
                <span asp-validation-for="Patente"></span>
            </div>
            <div class="form-group">                                
                <select class="form-control" asp-for="Marca">
                <option value="">Seleccione una Marca</option>
                <option>Abarth</option>
                <option>Alfa Romeo</option>
                <option>Aston Martin</option>
                <option>Audi</option>
                <option>Bentley</option>
                <option>BMW</option>
                <option>Cadillac</option>
                <option>Caterham</option>
                <option>Chevrolet</option>
                <option>Citroen</option>
                <option>Dacia</option>
                <option>Ferrari</option>
                <option>Fiat</option>
                <option>Ford</option>
                <option>Honda</option>
                <option>Infiniti</option>
                <option>Isuzu</option>
                <option>Iveco</option>
                <option>Jaguar</option>
                <option>Jeep</option>
                <option>Kia</option>
                <option>KTM</option>
                <option>Lada</option>
                <option>Lamborghini</option>
                <option>Lancia</option>
                <option>Land Rover</option>
                <option>Lexus</option>
                <option>Lotus</option>
                <option>Maserati</option>
                <option>Mazda</option>
                <option>Mercedes-Benz</option>
                <option>Mini</option>
                <option>Mitsubishi</option>
                <option>Morgan</option>
                <option>Nissan</option>
                <option>Opel</option>
                <option>Peugeot</option>
                <option>Piaggio</option>
                <option>Porsche</option>
                <option>Renault</option>
                <option>Rolls-Royce</option>
                <option>Seat</option>
                <option>Skoda</option>
                <option>Smart</option>
                <option>SsangYong</option>
                <option>Subaru</option>
                <option>Suzuki</option>
                <option>Tata</option>
                <option>Tesla</option>
                <option>Toyota</option>
                <option>Volkswagen</option>
                <option>Volvo</option>
                </select>
                <span asp-validation-for="Marca"></span>
            </div>
            <div class="form-group">
                <textarea class="form-control" asp-for="Modelo" id="modeloTextArea" rows="3" placeholder="Escriba detalles del Modelo"></textarea>
                <span asp-validation-for="Modelo"></span>
            </div>
            <div class="form-group">
                <label>Cantidad de Puertas: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Puertas" value="2">
                    <label class="form-check-label" for="inlineRadio1">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Puertas" value="4">
                    <label class="form-check-label" for="inlineRadio2">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Puertas" value="6" >
                    <label class="form-check-label" for="inlineRadio2">6</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Puertas" value="8">
                    <label class="form-check-label" for="inlineRadio2">8</label>
                </div>
                <span asp-validation-for="Puertas"></span>
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="OwnerId" asp-items=@ViewBag.list></select>
                <span asp-validation-for="OwnerId"></span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" style="float:left;">Ver listado</button>
                <button type="submit" class="btn btn-success" style="float: right;">Insertar</button>
            </div>
    </form>
    </div>
    <div class="col-0 col-sm-1 col-md-2 col-xl-3">
    </div>
  </div>

  @section scripts{
   <partial name="_ValidationScriptsPartial" />
}
